.container{
    display: flex;
    /* align-content: center; */
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    border: 1px solid #ccc;
}

.box1, .box2, .box3, .box4, .box5{
    background: #4CAF50;
    padding: 20px;
    margin: 10px;
    color: white;
    width: 100px;
    border-radius: 10px;
}

.box1{
    display: flex;
    justify-content: center;
    background: #4CAF50;
    padding: 20px;
    color: white;
    width: 590px;
    border-radius: 10px;
    flex-wrap: wrap ;
    align-content: flex-end;
}